*{
	margin:0;
    padding:0;
}
.wrapper{
	padding: 15px;
	max-width: 500px;
	margin: 0 auto;
}
nav > a > img{
	width: 4em;
	height: 4em;
}
label > img{
	width: 1em;
	height: 1em;
}
h1 {
	color: blueviolet;
}
form {
	margin-top: 30px;
}

